@import '../../bower_components/components-font-awesome/less/font-awesome.less';
@import 'colors.less';

#wordlift-faceted-entity-search-widget {

	font-size: 0.6em;
	border:#e2e2e2 1px solid;
	.facets {
		float:left;
		width: 30%;
		background-color:#e2e2e2;
		padding: 1em;

		li {
			list-style-type: none;
			padding: 0.2em;
			border-bottom: #999 1px solid;
		}
		.selected {
			border-bottom: #6c0 1px solid;
		}
	}
	h3 {
		margin: 1em 0em;
		font-size: 1.6em;
	}
	h5 {
		margin: 1em 0em;
		font-size: 0.8em;
	}

	.posts {
		float:right;
		width: 70%;
		padding: 1em;
		font-size: 1.4em;

		.post {
			border-bottom: #e2e2e2 1px solid;
		}
	}
	.clear {
		clear:both;
	}
	.conditions {
		li { 
			display: inline;
			border-left:#999 3px solid;
			padding: 0em 1em;
		}
	}
}